<!--наследуемся от base.html-->
{% extends 'flatpages/default.html' %}

{% load i18n %}

{% block content %}
<h2>{% trans 'Страница авторизованного пользователя' %} {{request.user.username}}</h2>
<div>{% trans 'Здесь может содержаться персональная информация для каждого пользователя' %} </div>

<a href="{% url 'account_logout' %}" class="nav-link btn btn-link">{% trans 'Выход' %}</a>

{% if is_not_authors %}
    <button> <a href="/upgrade/"> {% trans 'Стать автором!' %} </a> </button>
{% endif %}

{% endblock %}
