<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!--  Подключаем собственный фильтр из new_portal/templatetags/censor_filters -->
{% load censor_filters %}
{% load i18n %}
{% load tz %} <!-- не забываем загрузить тег для работы с часовыми поясами -->

<!-- Название у нас будет News -->
{% block title %}
Posts
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}

<!-- Если сейчас больше чем 19 или же меньше 7, то выводим тёмную тему, иначе выводим светлую -->
<style>
    body {background-color: {% if current_time.hour >= 19 or current_time.hour <= 7 %} darkcyan {% else %} powderblue {% endif %};}
</style>

<div class="features">

        {% get_current_timezone as TIME_ZONE %}
        <form action="" method="POST">
            {% csrf_token %}
            <label for="timezone">{% trans "Часовой пояс" %}:</label>
            <select name="timezone">
                {% for tz in timezones %}
                <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
                {% endfor %}
            </select>
            <input type="submit" value='{% trans "Найти" %}'>
        </form>

        {{ TIME_ZONE }}
        {{ current_time|timezone:TIME_ZONE }} <!-- Отображаем время в выбранном часовом поясе  -->

<!--Применяем фильтр length к уже ранее сформированному списку новостей, который мы передаем из views-->
<h1>{% trans 'Всего публикаций:' %} {{ post|length }}</h1>

{% if perms.new_portal.add_post %}  <!--Проверяем на право создания публикации-->
<a href="{% url 'news_create' %}">{% trans 'Добавить новость' %}</a>   <a href="{% url 'articles_create' %}">{% trans 'Добавить статью' %}</a>
{% endif %}

    {% if post %}
        <table>
            <tr>
                <td>{% trans 'Заголовок' %}</td>
                <td>{% trans 'Дата публикации' %}</td>
                <td>{% trans 'Содержание' %}</td>
                <td>{% trans 'Действие' %}</td>
            </tr>

            {% for post_ in post %}
            <tr>
                <td>{{ post_.title|censor }}</td>
                <td>{{ post_.time_in|date:'d m Y' }}</td>
                <td>{{ post_.content|truncatechars:20|censor }}</td>
                <td><a href="{% url 'post_detail' post_.id %}">{% trans 'Читать полностью' %}</a></td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

    <!-- Добавляем пагинацию на страницу -->

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}
